@import "tailwindcss/base";
@import "tailwindcss/components";

/* Additional styles */
@import "additional-styles/utility-patterns.css";
@import "additional-styles/range-slider.css";
@import "additional-styles/toggle-switch.css";
@import "additional-styles/theme.css";

@import "tailwindcss/utilities";

/* Additional Tailwind directives: https://tailwindcss.com/docs/functions-and-directives/#responsive */
@layer utilities {
  .rtl {
    direction: rtl;
  }
}

.banner-box {
  display: flex;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
  background-color: rgb(235, 235, 235);
  padding: 0.5rem 0.5rem;
  min-height: 10vh;
}

.all-bikes-container {
  display: flex;
  margin-left: 0.5rem;
  gap: 2rem;
  align-self: flex-start;
  flex-wrap: wrap;
}

.bike-status-container {
  display: flex;
  flex-direction: column;
  text-align: center;
}

.is_stolen {
  border-bottom: 3px solid red;
}

.is_safe {
  border-bottom: 3px solid green;
}

.banner-box.main-banner {
  min-height: 5vh;
  display: flex;
  flex-direction: column;
}

.banner-box.side-banner {
  align-items: flex-start;
  flex-direction: column;
}

.banner-box:hover {
  filter: brightness(80%);
}

.banner-title {
  align-self: flex-start;
  font-size: 1.1rem;
  font-weight: 600;
  color: black;
}

.banner-title button {
  transform: translateY(-1.5px);
}

.banner-desc {
  margin-left: 0.5rem;
  color: darkslategray;
  font-size: 0.9rem;
}

.map-bike-container {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-wrap: wrap;
  gap: 2rem;
  height: 100%;
  margin-top: 2rem;
  padding-top: 1rem;
  border-top: 1px solid lightgray;
}

.circular-progress-container {
  display: flex;
  flex-direction: column;
  padding-top: 0.5rem;
  padding-bottom: 1rem;
  border-radius: 1rem;
  background-color: whitesmoke;
  margin-bottom: 1rem;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
}

.circular-progress {
  display: flex;
  align-items: center;
  justify-content: center;
}

.incident-title {
  font-weight: 500;
}

.incident-container {
  color: black;
  margin-left: 1.25rem;
  font-size: 0.9rem;
  justify-content: center;
}

.incident-desc {
  color: darkslategray;
  margin-left: 0.25rem;
}

.report-button {
  display: flex;
  flex-direction: column;
  position: fixed !important;
  bottom: 5rem;
  right: 1.5rem;
  font-size: 1rem !important;
}

.report-field {
  border: none !important;
  width: 100%;
  margin-bottom: 0.5rem !important;
}

.success-msg {
  position: absolute;
  z-index: 100;
  bottom: -10vh;
  left: 22%;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.16), 0 0 0 1px rgba(0, 0, 0, 0.08);
  transition: all 0.75s ease;
}

.show {
  transform: translateY(-20vh);
  transition: all 0.75s ease;
}
